.nav {
    display: flex;
    justify-content: space-between; 
    align-items:flex-start;
    background: rgb(65, 92, 188); /*color später veränden */
  
  }

.logo{
  height: 65px;
}

.appName{
  color: rgb(152, 181, 200);
  flex-grow: 1;
  text-align: center;

}