.nav {
    display: flex;
    justify-content: space-between; 
    align-items:flex-start;
    background: rgb(65, 92, 188); /*color später veränden */
  
  }

.logo{
  height: 80px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
}

.appName{
  color: rgb(152, 181, 200);
  flex-grow: 1;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 20px;

}