nav{
  background-color: #4a2727;
  color: white;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  
  background: rgb(189, 205, 219);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
