.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  /* padding: 10px;  */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: auto;
}


/*HOW TO HIDE SIDEBAR IF NOT NEEDED? THOSE BELLOW ARE THE SIDEBAR ELEMNTS*/
.div1 {
  width: 25%;
}

.w3-sidebar {
  /* display: none; works not perfectly, hides content but not the div */

}

.w3-bar-block {
  /* display: none; same like above */
}

/*makes sidebar text color*/
.w3-bar-item {
  /* color: red; */
}
/*-----------------------------------------------------------------------*/



